.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 230px;
  height: 100%;
}

#aboutUs,
#imprint {
  height: 100%;
  width: 100%;
  background-color: rgb(165, 105, 40);
  position: fixed;
  padding: 12px;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0, 0, 8px, #111;
}

#exitBtn {
  background-color: #ffffff00;
}
