@font-face {
  font-family: "PlaywriteMX-Regular";
  src: url(../assets/fonts/PlaywriteMX-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
